.header{
    padding-top:  10px;
    margin: 0 2%;
    background-color: rgb(255,255,255);
    height: 4em;
    border-bottom: 0.5px solid #F0E5CF;
}
.header button{
    background-color: transparent;
    border: none;

}
.header i{
    font-size: 25px;
}
/* menu_left */
.img_logo_youtube {
    width: 100px;
    height: 35px;
    margin-left: -50px;
}
@media (max-width: 768px){
    .img_logo_youtube {
     
        margin-left: -20px;
    }
    /* .menu_center{
        display: none;
    } */
}

/* menu right */
.btn-group .button .i{
    color: #9E9D89;
}
@media (max-width: 600px){
    
}

.right_menu_header button i{
    font-size: 20px;
    /* font-weight:normal; */
    color: black;
}